@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #1f1fc4, #ff00cc);
    display: flex;
    justify-content: center;
    align-items: center;
}

